.detail-container {
	display: flex;
	gap: 30px;
	margin: 20px;
}

.detail-container img {
	width: 250px;
	height: 320px;
	border: 1px solid #ddd;
	padding: 8px;
	background: #fff;
}

.book-info {
	flex: 1;
}

.book-info h2 {
	margin-top: 0;
}

.btn {
	border: none;
	margin-top: 20px;
	margin-right: 10px;
	padding: 10px 20px; /* tăng kích thước nút */
	font-size: 16px; /* chữ to vừa phải */
	font-weight: bold; /* chữ đậm */
	background: #4CAF50;
	color: white;
	text-decoration: none;
	border-radius: 6px; /* bo góc nhẹ */
	cursor: pointer;
	transition: 0.3s;
}

.btn:hover {
	opacity: 0.9;
}

.book-detail {
	margin-top: 40px; /* Cách xuống 40px, có thể chỉnh tuỳ ý */
}